{% extends "base.html" %}
{% block content%}
{% if request.user.is_authenticated and request.user.status == 'Педагог'%}
{% else %}
<meta http-equiv="Refresh" content="0; {% url 'login' %}">
{% endif %}
<table class="data-table">
    <thead>
        <tr>
            <th colspan="6">Ваши дети</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td>Ф.И.О.</td>
            <td>Направленость обучения</td>
            <td>Услуги специалиста</td>
            <td>Кружки и секции</td>
        </tr>
        {% for child in group %}
        <tr>
            <td>{{child.full_name}}</td>
            <td>{{child.orientation_of_education}}</td>
            <td>{{child.specialist_service}}</td>
            <td>
                {% if child.art_club == True %}
                    <p>{{child.full_name}}</p>
                {% endif %}
                {% if child.dance_club == True %}
                    <p>{{child.full_name}}</p>
                {% endif %}
                {% if child.music == True %}
                    <p>{{child.full_name}}</p>
                {% endif %}
                {% if child.physical_culture_club == True %}
                    <p>{{child.full_name}}</p>
                {% endif %}
                {% if child.robotics == True %}
                    <p>{{child.full_name}}</p>
                {% endif %}
                {% if child.foreign_languages == True %}
                    <p>{{child.full_name}}</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}      
    </tbody>
</table>                         
{% endblock content%}